header {
  background: #9ad3de;
  margin-bottom: 1.45rem;
  padding: 0.5rem 0;
}

.container {
  margin: 0 auto;
  max-width: 760px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 a {
  color: #4f3060;
  text-decoration: none;
  font-size: 3rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li a {
  text-decoration: none;
  color: #4f3060;
  margin: 0;
  font-size: 1.3rem;
  display: block;
  padding: 8px;
  border-bottom: 2px solid transparent;
}

nav ul li.current a,
nav li a:hover {
  border-bottom: 2px solid #4f3060;
}

@media(max-width: 530px){
  header h1 a {
    font-size: 2rem;
  }
  nav li a{
    font-size: 1.2rem;
  }
}

@media(max-width: 418px){
  header h1 a {
    font-size: 1.7rem;
  }
  nav li a {
    font-size: 1rem;
  }
}