a.title{
  text-decoration: none;
  color: #4f3060;
}

.title h2 {
  margin: 0;
}

p.date {
  margin: 0;
  color: #777
}

.blog-item{
  background: #fff;
  margin: 0;
  padding: 2rem;
  box-shadow: 0 4px 8px 1px #ccc;
  border-radius: 4px;
}

.blog-item .date {
  font-size: .9rem;
}